#Gallery-Box{
  border : 1px dashed black;
  background-color : #f77;
    
}

ul{
  padding : 0;
}

li{
  box-sizing : border-box;
  display : inline-block;
  list-style-type : none;
}

img{
  height : 200px;
}

/*Grab all of the images and give them a red border*/



/*Grab all of the list items and give them 10px of margin*/

/*Use a selector to grab only the first list item and give it a margin-left of 0*/

/*Use the Thor selector to center the superhero names, but not the human aliases, of all the heroes after Thor*/

/*Align the Hulk's name to the right*/

/*Make all of the even heroes' human aliases (Steve Rogers, Bruce Banner, All of the Above) white on grey backgrounds.*/

/*Make all of the odd heroes' human aliases (Tony Stark, Thor Odinson, Scott Lang) grey on white backgrounds.*/

/*When the mouse hovers over an image, change its height to 400px (For a smoother version of this effect, research CSS Transitions!)*/

/*When Ant-Man's picture is clicked, shrink its height down to 50px*/